body
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    text-rendering: optimizelegibility

::selection
    background: rgba(black, .7)
    color: white
    text-shadow: none

::-moz-selection
    background: rgba(black, .7)
    color: white
    text-shadow: none

img
    &::selection
        background: transparent
    &::-moz-selection
        background: transparent

*:focus-visible
    outline-color: gray
    outline-offset: 5px
    outline-style: dashed
    outline-width: 1px

@media (prefers-reduced-motion: no-preference)
    *:focus-visible
        transition: outline-offset .3s ease

*
    font-family: 'Cormorant Garamond', serif

body
    text-align: center
    padding: 20px

.navbar-brand
    display: block
    margin: 60px auto

h1
    font-weight: normal
    margin-bottom: 60px

h2
    font-weight: normal
    margin-top: 60px   

p
    font-size: px2rem(20)
    max-width: 400px
    margin: 0 auto

ul
    list-style: none
    padding: 0

a
  transition: text-decoration 0.5s
  text-decoration-thickness: 1px
  text-decoration-color: adjust-color(black, $alpha: -0.8)
  text-underline-offset: 3px
  color: black
  &:hover
    text-decoration-color: black
  &[target="_blank"]
    &::after
      content: ""
      width: 0.8rem
      height: 0.8rem
      margin: 0 0.05rem 0 0.1rem
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat
      background-size: contain
      display: inline-block
      vertical-align: -0.1rem
      filter: invert(1)

footer
    margin-top: 100px
    &, p
        font-size: px2rem(15)
    p
        margin-bottom: 30px
    ul
        li
            display: inline-block
            a
                padding: 15px
